.form {
  margin-top: 3rem;
  > div {
    margin: auto;
  }

  &__btn {
    background-color: var(--color-primary);
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    width: 110px;
    border-radius: var(--button-border-radius);
    display: block;
    margin: auto;
    margin-top: 2rem;
    cursor: pointer;
  }
}
